
<div class="table-responsive-sm">

  <table class="table">

    <tr>
        <th>interpolation</th>
    </tr>
    <tr>
      <app-interpolation></app-interpolation>
    </tr>
    <tr>
      <th>two way data bindding</th>
    </tr>
    <tr>
        <app-two-way-data-bindding></app-two-way-data-bindding>
    </tr>
    <tr>
      <th>Directives</th>
    </tr>
    <tr>
        <app-directives></app-directives>
    </tr>
    <tr>
      <th>Event bindding</th>
    </tr>
    <tr>
      <app-event-bidding></app-event-bidding>
    </tr>


    </table>
</div>



