
<div class="table-responsive-sm">

  <table class="table">

    <tr>
        <th>interpolation</th>
    </tr>
    <tr>
      <app-interpolation></app-interpolation>
    </tr>
    <tr>
      <th>two way data bindding</th>
    </tr>
    <tr>
        <app-two-way-data-bindding></app-two-way-data-bindding>
    </tr>
    <tr>
      <th>Directives</th>
    </tr>
    <tr>
        <app-directives></app-directives>
    </tr>
    <tr>
      <th>Event bindding</th>
    </tr>
    <tr>
      <app-event-bidding></app-event-bidding>
    </tr>
    <tr>
      <th>Input decorator</th>
    </tr>
    <tr>
      <td>
        <!-- input -->
        <app-parent></app-parent>
      </td>
    </tr>
    <tr>
      <th>Output decorator</th>
    </tr>
    <tr>
      <td>
        <app-output-parent></app-output-parent>
      </td>
    </tr>


    </table>
</div>



